<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {{/* NOTE: the Site's title, and if there is a page title, that is set too */}}
    <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
    {{ hugo.Generator }}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      @font-face {
        font-family: 'nimbus_sans_lbold';
        src: url('/NimbusSanL-Bol-webfont.eot');
        src: url('/NimbusSanL-Bol-webfont.eot?#iefix') format('embedded-opentype'),
        url('/NimbusSanL-Bol-webfont.woff2') format('woff2'),
        url('/NimbusSanL-Bol-webfont.woff') format('woff'),
        url('/NimbusSanL-Bol-webfont.ttf') format('truetype'),
        url('/NimbusSanL-Bol-webfont.svg#nimbus_sans_lbold') format('svg');
        font-weight: normal;
        font-style: normal;

      }
      body {
        background: url('/hr_ai2.png') no-repeat center center fixed;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'nimbus_sans_lbold';
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
      }
      h1 {
        font-size: 3em;
      }
      p {
        font-size: 1.5em;
      }
      #title {
        position: absolute;
        bottom: -25px;
        right: 25px;
      }
    </style>
  </head>

  <body class="ma0">
    <h1 id="title">Halcyon Racing</h1>
  </body>
</html>
